body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.hidden {
  display: none;
}

.answer-container {
  width: 100%;
  height: 30vh;
}

.clue-container {
  width: 100%;
  height: 40vh;
}

.inventory-container {
  width: 100%;
  height: 30vh;
}

.map-container {
  width: 100%;
  height: 0vh;
}

.street-view-container {
  width: 100%;
  height: 100vh;
}


/** STAY TUNED PAGE */
.stay-tuned-page {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.stay-tuned-page .twitter-logo {
  height: 60px;
  margin-top: 40px;
}


/** LANDING PAGE */
.landing-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../assets/background.jpg);
  z-index: 999;
}


.landing-page .start-game {
  position: relative;
  top: 40px;
  font-size: 16px;
}

.static-page .title-container {
  position: relative;
  top: 25vh;
  text-align: center;
  color: white;
}

.static-page .title {
  font-family: 'Permanent Marker';
  font-size: 140px;
}

.static-page .tagline {
  font-size: 32px;
}

.static-page .subtitle {
  font-size: 26px;
}

.static-page .subtitle a {
  color: white;
}

.red-button {
  background-color: hsl(347, 91%, 29%);
  color: white;
  border-width: 0px;
}

.red-button:hover {
  background-color: hsl(347, 93%, 41%);
  color: white;
}

/** WORLD FILTERS **/

.colorful-contrast {
  -webkit-filter:
    grayscale(6.6%)
    sepia(1.7%)
    brightness(0.85)
    contrast(195%)
    saturate(108.4%)
    hue-rotate(10deg);
  filter:
    grayscale(6.6%)
    sepia(1.7%)
    brightness(0.85)
    contrast(195%)
    saturate(108.4%)
    hue-rotate(10deg);
}

.sepia {
    -webkit-filter:
        sepia(80%)
        brightness(1)
        contrast(100%)
        saturate(140%)
        hue-rotate(0deg);
    filter:
        sepia(80%)
        brightness(1)
        contrast(100%)
        saturate(140%)
        hue-rotate(0deg);
}

.gritty {
    -webkit-filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.75)
        contrast(219%)
        saturate(100%)
        hue-rotate(0deg);
    filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.75)
        contrast(219%)
        saturate(100%)
        hue-rotate(0deg);
}

.less-gritty {
    -webkit-filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.85)
        contrast(180%)
        saturate(100%)
        hue-rotate(0deg);
    filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.85)
        contrast(180%)
        saturate(100%)
        hue-rotate(0deg);
}

.bright-day {
    -webkit-filter:
        brightness(1.05)
        contrast(120%)
        saturate(150%)
        hue-rotate(0deg);
    filter:
        brightness(1.05)
        contrast(120%)
        saturate(150%)
        hue-rotate(0deg);
}
