.street-view-container {
  width: 100%;
  height: 100vh;
}

.answer-container {
  width: 100%;
  height: 10vh;
}

.clue-container {
  width: 100%;
  height: 40vh;
}

.map-container {
  width: 100%;
  height: 50vh;
}

/** WORLD FILTERS **/

.colorful-contrast {
  -webkit-filter:
    grayscale(24.7%)
    sepia(16.7%)
    brightness(0.75)
    contrast(241%)
    saturate(138.4%)
    hue-rotate(0deg);
  filter:
    grayscale(24.7%)
    sepia(16.7%)
    brightness(0.75)
    contrast(241%)
    saturate(138.4%)
    hue-rotate(0deg);
}

.sepia {
    -webkit-filter:
        sepia(80%)
        brightness(1)
        contrast(100%)
        saturate(140%)
        hue-rotate(0deg);
    filter:
        sepia(80%)
        brightness(1)
        contrast(100%)
        saturate(140%)
        hue-rotate(0deg);
}

.gritty {
    -webkit-filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.75)
        contrast(219%)
        saturate(100%)
        hue-rotate(0deg);
    filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.75)
        contrast(219%)
        saturate(100%)
        hue-rotate(0deg);
}

.less-gritty {
    -webkit-filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.85)
        contrast(180%)
        saturate(100%)
        hue-rotate(0deg);
    filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.85)
        contrast(180%)
        saturate(100%)
        hue-rotate(0deg);
}

.colorful {
    -webkit-filter:
        brightness(1)
        contrast(220%)
        saturate(220%)
        hue-rotate(0deg);
}
