body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.answer-container {
  width: 100%;
  height: 10vh;
}

.clue-container {
  width: 100%;
  height: 40vh;
}

.map-container {
  width: 100%;
  height: 0vh;
}

.street-view-container {
  width: 100%;
  height: 100vh;
}

/** LANDING PAGE */
.landing-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../assets/background.jpg);
  z-index: 999;
}

.landing-page .title-container {
  position: relative;
  top: 35vh;
  text-align: center;
  color: white;
}

.landing-page .title {
  font-family: 'Permanent Marker';
  font-size: 140px;
}

.landing-page .tagline {
  font-size: 32px;
}

.landing-page .start-game {
  position: relative;
  top: 40px;
  font-size: 16px;
  background-color: hsl(347, 91%, 29%);
  color: white;
  border-width: 0px;
}

.landing-page .start-game:hover {
  background-color: hsl(347, 93%, 41%);
}

/** WORLD FILTERS **/

.colorful-contrast {
  -webkit-filter:
    grayscale(6.6%)
    sepia(1.7%)
    brightness(0.85)
    contrast(195%)
    saturate(108.4%)
    hue-rotate(10deg);
  filter:
    grayscale(6.6%)
    sepia(1.7%)
    brightness(0.85)
    contrast(195%)
    saturate(108.4%)
    hue-rotate(10deg);
}

.sepia {
    -webkit-filter:
        sepia(80%)
        brightness(1)
        contrast(100%)
        saturate(140%)
        hue-rotate(0deg);
    filter:
        sepia(80%)
        brightness(1)
        contrast(100%)
        saturate(140%)
        hue-rotate(0deg);
}

.gritty {
    -webkit-filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.75)
        contrast(219%)
        saturate(100%)
        hue-rotate(0deg);
    filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.75)
        contrast(219%)
        saturate(100%)
        hue-rotate(0deg);
}

.less-gritty {
    -webkit-filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.85)
        contrast(180%)
        saturate(100%)
        hue-rotate(0deg);
    filter:
        grayscale(100%)
        sepia(3%)
        brightness(0.85)
        contrast(180%)
        saturate(100%)
        hue-rotate(0deg);
}

.colorful {
    -webkit-filter:
        brightness(1)
        contrast(220%)
        saturate(220%)
        hue-rotate(0deg);
}
